@import "colors";
@import "typography";
@import "marginpadding";

.wrapper  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; /* optional. only if you want the items to wrap */
    justify-content: center; /* for horizontal alignment */
    align-items: center; /* for vertical alignment */
}

.wrapper > div {
  margin: $elm-vertical-margin;
}

h2 {
  color: $theme-color;
}

table td {
  white-space: normal!important;
  overflow-wrap: break-word;
}

.error {
  color: $error;
  font-family: $regular-font;
}
